.educacion {
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #f5f5f5, #eaeaea);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  .items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
  }
  
  .items:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
  }
  
  .foto img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .foto img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.5);
  }

  .info {
    flex: 1;
    text-align: left;
  }
  
  .info h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #1b1b1b;
  }
  
  .info h2 {
    font-size: 1em;
    margin-bottom: 5px;
    color: #383737;
  }
  
  .info p {
    font-size: 0.80em;
    color: #535252;
  }
  /*Animando la vista*/
  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.items {
  animation: fadeInUp 0.5s ease forwards;
}


@media (max-width: 768px) {
  .educacion {
    width: 90%;
  }

  .items {
    flex-direction: column;
    align-items: center;
  }
.foto{
  display: flex;
  justify-content: center;
}
  .foto img {
    justify-self: center;
    width: 80%;
    height: auto;
  }

  .info h1 {
    font-size: 1em;
  }

  .info h2 {
    font-size: 0.9em;
  }

  .info p {
    font-size: 0.8em;
  }
}