/* About.css */

.Contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

.Title h1 {
  color: rgb(255, 165, 0);
  margin-bottom: 30px;
}

h1, h2, h3 {
  margin: 1px auto;
}

.Texto {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.Perfil {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.Perfil img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(158, 189, 208);
  border: 5px solid rgb(255, 165, 0);
}

.btn_cambiar {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn_cambiar:hover {
  background-color: rgb(255, 165, 0);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn_cambiar:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.descargaCv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.btn-descarga {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 165, 0);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-descarga:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.btn-descarga:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive design */
@media (max-width: 768px) {
  .Contenido {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Texto {
    width: 90%;
  }

  .Perfil {
    width: 100%;
    max-width: 300px;
  }

  .Perfil img {
    max-width: 200px;
  }

  .btn-descarga {
    font-size: 14px;
    padding: 12px 24px;
  }

  .btn_cambiar {
    font-size: 14px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .Texto {
    margin: 10px 20px;
  }

  .Perfil img {
    max-width: 150px;
  }

  .btn-descarga {
    font-size: 12px;
    padding: 10px 20px;
  }

  .btn_cambiar {
    font-size: 12px;
    padding: 5px 10px;
  }
}
